


    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
    </head>
    <body>
      <h4>Enter New Password</h4>
  
  <p> Please  enter your password twice so we can verify you typed it is correctly.</p>
</p>

    <form method="POST">
      {%csrf_token%}

      <div class="form-group">

        {{ form|crispy }}

      
      <div class="form-group">
        <button
          type="submit"
          class="btn btn-primary btn-lg btn-block"
          tabindex="4"
        >
          Reset Password
        </button>
      </div>
    </form>



    </body>
    </html>
